name: Run validation checks

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # 2.0.0
        env:
          SHELLCHECK_OPTS: -x
        with:
          ignore: test

      - name: Conftest - tests.sh
        uses: redhat-cop/github-actions/confbatstest@11f2ce27643eb7c76ac3623cb99d9b08be30d762 # v4
        with:
          tests: test/tests.sh

      - name: Conftest - tests_fail.sh
        uses: redhat-cop/github-actions/confbatstest@11f2ce27643eb7c76ac3623cb99d9b08be30d762 # v4
        with:
          raw: test/tests_fail.sh > tests_fail.log || exit 0

      - name: Check failed tests
        run: |
          if [[ $(grep -c "not ok" tests_fail.log) -ne 9 ]]; then
            echo "Expected a fixed number of failed jobs. Failing."
            cat tests_fail.log
            exit 1
          fi
